@import 'tailwindcss';

* {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

/*
bg-[#1A1A1A] lg:hover:bg-[#000000] active:bg-[#000000]
bg-[#e6e6ed]
bg-[#d5d5db] lg:hover:bg-[#d2d2d9]
text-[#1A1A1A] placeholder-[#8a8a8a]
*/

body {
	user-select: none;
	margin: 0;
	padding: 0;
	background-color: #f8f8ff;
}

.font-large {
	font-size: 30px;
}

.font-medium {
	font-size: 20px;
}

.font-small {
	font-size: 16px;
}

@media (min-width: 1024px) {
	.font-large {
		font-size: 40px;
	}

	.font-medium {
		font-size: 30px;
	}

	.font-small {
		font-size: 22px;
	}
}
