@import 'tailwindcss';

* {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
	user-select: none;
	margin: 0;
	padding: 0;
	background-color: #f8f8ff;
}

.font-large {
	font-size: 30px;
}

.font-medium {
	font-size: 20px;
}

.font-small {
	font-size: 16px;
}

@media (min-width: 1024px) {
	.font-large {
		font-size: 40px;
	}

	.font-medium {
		font-size: 30px;
	}

	.font-small {
		font-size: 22px;
	}
}
